:host {
    --sds-c-card-radius-border : 1.25rem 1.25rem 1.25rem 1.25rem;
}

.slds-card {
    cursor: pointer;
}

.image_container {
    display: flex;
    align-items: center;
}

.image_container img {
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    aspect-ratio: 2 / 1;
}

.text_container {
    display: flex;
    flex-direction: column;
}

.top_container {
    display: flex;
    flex-direction: column;
}

.top_container span:first-child {
    font-size: larger;
    font-weight: bold;
    color: #0176d3;
}

.top_container span:last-child {
    font-weight: bold;
    opacity: 0.8;
}

.bottom_container {
    display: flex;
    justify-content: space-between;
}

.bottom_container span {
    font-weight: bolder;
    opacity: 0.5;
}

.hvr-overline-reveal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.hvr-overline-reveal:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    background: #2098D1;
    height: 4px;
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-overline-reveal:hover:before, .hvr-overline-reveal:focus:before, .hvr-overline-reveal:active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

@media screen and (max-width: 1024px) {
    .slds-size_1-of-5 {
        width: 0%;
    }

    .slds-size_4-of-5 {
        width: 100%;
    }

    .author_span {
        max-width: 28rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width: 800px) {
    .author_span {
        max-width: 8rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
