.header {
    background: #EFF0F2;
    height: 3rem;
    box-shadow: 0px 0px 14px 0px rgb(0 0 0 / 75%);

    position: fixed;
    width: -webkit-fill-available;
    z-index: 2;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    top: 0;
    margin-left: -1rem;

    transition: all 0.5s;
}

.scroll_up {
    transform: translateY(-3rem);
}

.link_container {
    display: flex;
    flex-direction: row;
}