:host {
    --sds-c-input-radius-border: .75rem;
    --dxp-g-spacing-medium: 0.125rem;
}

.slds-card__header {
    margin: 0;
}

lightning-radio-group {
    margin: 0;
}

.slds-card__body {
    margin: 0;
}

.input_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input_container lightning-input {
    opacity: 0.75;
}

.slds-box {
    padding: 0;
    border-radius: .75rem;
    overflow: hidden;
}

.text_header {
    font-size: large;
    font-weight: bold;
    color: #005FB2;
}

.icon_footer {
    margin-bottom: 2px;
}



