.tool_container {
    padding-top: 4rem;
    padding-bottom: 3rem;
}

@media screen and (max-width: 1024px) {
    .tool_container {
        padding-top: 1.5rem;
        padding-bottom: 0.5rem;
    }
}