.portfolio_container {
    padding-top: 3.5rem;
    display: flex;
    flex-direction: row
}

.spinner_container {
    position: fixed;
    top: 50%;
    left: 50%;
}

c-portfolio-list {
    flex: 1;
}

c-portfolio-chart {
    flex: 3;
}

@media screen and (max-width: 1024px) {
    .portfolio_container {
        padding-top: 1rem;
        flex-direction: column;
    }
}